{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'rich/css/cv.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="header">
                <h2>Samantha Dela Cruz</h2>
                <p>
                    sammie.cruzer.jobs@gmail.com<br>
                    (818)434-4068
                </p>
            </div>
            <br>
            <div class="section">
                <h4>EDUCATION</h4>
                <div class="section-content">
                    <p><b>California State University, Fullerton (Los Angeles, CA)</b></p>
                    <ul>
                        <li>B.A. in Psychology</li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <h4>WORK EXPERIENCE</h4>
                <div class="section-content">
                    <p>
                        <b>Mind Over Muse</b> (Los Angeles, CA)<br>
                        Makeup Artist, January 2017 - June 2017
                    </p>
                    <ul>
                        <li>
                            Designed and applied makeup for all actors based on director's creative decisions
                        </li>
                        <li>
                            Carried out operations as aid for production manager
                        </li>
                    </ul>
                </div>
                <div class="section-content">
                    <p>
                        <b>Jukebaux</b> (Los Angeles, CA)<br>
                        Operations and Product Manager, August 2015 - September 2016
                    </p>
                    <ul>
                        <li>
                            Led scrum meetings for weekly sprints following agile methodology
                        </li>
                        <li>
                            Handled and organized sensitive paperwork including NDAs, offer letters, and IP documents
                        </li>
                        <li>
                            Coordinated remote engineering team hours and workload with engineering team lead
                        </li>
                    </ul>
                </div>
                <div class="section-content">
                    <p>
                        <b>ABS-CBN</b> (Quezon City, Phillipines)<br>
                        Model and Actress, August 2014 - August 2015
                    </p>
                    <ul>
                        <li>
                            Represented Careline Cosmetic's campaign on GMA's TV show <i>"Unang Hirit"</i>
                        </li>
                        <li>
                            Performed as a regular on ABS-CBN's <i>"Luv U"</i>
                        </li>
                        <li>
                            Appeared on <i>"Home Sweetie Home"</i> and GMA's <i>"Healing Hearts"</i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <h4>SKILLS</h4>
                <div class="section-content">
                    <ul>
                        <li>
                            Google Suite, Microsoft excel
                        </li>
                        <li>
                            Fluent in English and Tagalog
                        </li>
                        <li>
                            Proficient in photo editing using VSCO, Splice, FaceTune, and Instagram
                        </li>
                        <li>
                            Proficient in makeup application
                        </li>
                        <li>
                            Creative and attentive to detail, self-motivated self-starter
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <h4>AWARDS AND ACCOMPLISHMENTS</h4>
                <div class="section-content">
                    <p>
                        <b>Glendale High School Service Award</b> 2013<br>
                        <ul>
                            <li>
                                Top 15 in class recognized for service
                            </li>
                        </ul>
                    </p>
                    <p>
                        <b>Glendale High School Bilingual Award</b> 2013<br>
                        <ul>
                            <li>
                                English and Spanish
                            </li>
                            <li>
                                Tagalog and Spanish
                            </li>
                        </ul>
                    </p>
                    <p>
                        <b>Garnered over 5,000 followers for personal blog on Tumblr</b> 2012<br>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>