{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'rich/css/onfleet-coverletter.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="header">
                <h2>Richard Tong</h2>
                <p>
                    12985 Seabreeze Farms Dr<br>
                    San Diego, CA, 92130<br>
                    (858)688-3603<br>
                    richytong@gmail.com
                </p>
            </div>
            <br>
            <div class="section">
                <p>
                    Onfleet, Inc.<br>
                    929 Market St<br>
                    San Francisco, CA 94103<br>
                    United States
                </p>
                <br>
                <p>
                    Dear Onfleet:<br><br>

                    I would like to apply for the full-stack engineer position you have listed on https://onfleet.com/careers. Please find my CV attached.<br><br>

                    I am a senior level full stack developer working at a startup here in San Francisco. I have three years of experience in this field with one year developing professionally and one year teaching Python. Though my stack is not exactly the same as the one you have listed, I find I do have overlaps in Node and Postgres and I have most of my experience developing RESTful applications.<br><br>

                    I am extremely self-sufficient and believe I acquire new technologies very quickly. I have committed my existence to improving my skills as a software engineer. I would very much like to schedule an interview to discuss the possibility of a career for me at Onfleet. I am available to meet anytime, and can be reached at (858)688-3603 or richytong@gmail.com.<br><br>

                    Thank you for your consideration.<br><br>

                    Sincerely,<br><br><br>


                    Richard Tong
                </p>
            </div>
        </div>
    </body>
</html>